<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.100.52" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.102.37" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.103.16" targetFramework="net45" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.4" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.102.1" targetFramework="net45" />
</packages>